html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#override-bs-body .home-container {
    margin: 0 auto;
    padding-top: 12%;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1000px;
    width: 100%;
}

#override-bs-navbar1 {
    float: left;
}

#override-bs-navbar2 {
    list-style: none;
    margin: 10px;
    float: right;
}
