<!DOCTYPE html>
<html lang="en">
    <head>
        <title>You've Got to Crawl (Before You Walk)</title>
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico")}}">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css")}}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/footer.css")}}">
    </head>

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site_header" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="site_header">
                    <ul class="nav navbar-nav" id="override-bs-navbar1">
                        <li><a href="/about/">About</a></li>
                        <li><a href="https://github.com/talinjw/Crawl_Before_You_Walk" target="_blank">Git</a></li>
                        <li><a href="https://github.com/talinjw" target="_blank">Other Projects</a></li>
                    </ul>
                    <ul class="nav-dropdown" id="override-bs-navbar2">
                        <form class="form-inline" action="/search-results/" method="get">
                            <div class="input-group search-group">
                                <span class="input-group-btn">
                                    <select name="pages" value="1" class="form-control">
                                        <option value="1">Return: 1 Page</option>
                                        <option value="2">Return: 2 Pages</option>
                                        <option value="3">Return: 3 Pages</option>
                                        <option value="4">Return: 4 Pages</option>
                                        <option value="5">Return: 5 Pages</option>
                                        <option value="10">Return: 10 Pages</option>
                                        <option value="15">Return: 15 Pages</option>
                                        <option value="20">Return: 20 Pages</option>
                                        <option value="25">Return: 25 Pages</option>
                                        <option value="50">Return: 50 Pages</option>
                                        <option value="75">Return: 75 Pages</option>
                                        <option value="100">Return: 100 Pages</option>
                                    </select>
                                </span>
                            </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <body id="override-bs-body">
        <!-- Main Content Goes Here -->
        <div class="home-container">
            <a href="http://jobcrawl.net" onClick="window.location.reload()"><img id="main-logo" src="{{ url_for("static", filename="images/indeed-crawler-logo.png")}}"></a>
            <div class="form-container">
            	<div class="row">
                    <div class="span12">
                        <!-- <form class="form-inline" action="/search-results/" method="get"> -->
                            <input name="q" style="width: 332px; height: 33px; border-radius: 3px;" class="span5" type="text"  placeholder=" job title, keywords or company name" >
                            <input name="l" style="width: 332px; height: 33px; border-radius: 3px;" class="span5" type="text"  placeholder=" city, state or zip">
                            <input type="submit" style="background-color:#034abe" value="Find Jobs" class="btn btn-primary" />
                        </form> <br>
                        <!-- {% with messages = get_flashed_messages() %}
                            {%if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-warning alert-dismissible" style="width: 756px; margin:0 auto; text-align:left" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %} -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>

    <footer id="override-bs-footer">
        <div class="g-footer">
            <a href="https://www.facebook.com/talin.wauchope" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.linkedin.com/in/talin-wauchope/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://twitter.com/Talin_Wauchope" target="_blank" class="fa fa-twitter"></a>
            <a href="mailto:talin.wauchope@gmail.com" class="fa fa-envelope"></a> <br>
            Copyright &#169; 2017 Talin Wauchope. All Rights Reserved. <br>
            <!-- jobcrawl.net is powered by Digital Ocean and Bluehost. -->
        </div>
    </footer>
</html>
